
<div class="col-xl-3 col-lg-6 col-12">
		<div class="box-content bg-info  text-white">
			<div class="statistics-box with-icon">
				<i class="ico fa-sharp fa-solid fa-apple-whole"></i>
				<h2 class="counter ">{{count}}</h2>
				<p class="text text-white">Toplam meyva sayisi</p>
			</div>
		</div>
		<!-- /.box-content -->
	</div>
	<div class="col-xl-3 col-lg-6 col-12">
		<div class="box-content bg-danger text-white ">
			<div class="statistics-box with-icon">
				
				
				<i class="ico fa-solid fa-weight-hanging"></i>
				<h2 class="counter ">{{kilo}}</h2>
				<p class="text text-white">Toplam meyva çekisi</p>
			</div>
		</div>
		<!-- /.box-content -->
	</div>
		<div class="col-xl-3 col-lg-6 col-12">
		<div class="box-content bg-warning text-white">
			<div class="statistics-box with-icon">
				
				
				<i class="ico fa-sharp fa-solid fa-hourglass-start"></i>
				<h2 class="counter ">{{time}}</h2>
				<p class="text text-white">Kaç saniye</p>
			</div>
		</div>
		<!-- /.box-content -->
	</div>
	<div class="col-xl-3 col-lg-6 col-12">
		<div class="box-content bg-success  text-white">
			<div class="statistics-box with-icon">
				
				
				<i class="ico fa-solid fa-calculator"></i>				
				<h2 class="counter">{{toplam_ceki}}</h2>
				<p class="text text-white">Ağac*kq</p>
			</div>
		</div>
		<!-- /.box-content -->
	</div>
		
