{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Home</title>
	<link rel="stylesheet" href="{% static 'assets/styles/style.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/styles/custom.css' %}">
		<!-- Waves Effect -->
	
		<link rel="stylesheet" href="{% static 'assets/plugin/waves/waves.min.css' %}">

</head>

<body>

<div id="single-wrapper">
	<form action="#" class="frm-single">
		{% csrf_token %}
		<div class="inside">
			<div class="title"><strong>Reset Password</strong></div>
			<!-- /.title -->
			
			<!-- /.frm-title -->
			<p class="text-center">Enter your email address and we'll send you an email with instructions to reset your password.</p>
			<div class="frm-input"><input type="email" placeholder="Enter Email" class="frm-inp"><i class="fa fa-envelope frm-ico"></i></div>
			<!-- /.frm-input -->
			<button type="submit" class="frm-submit">Send Email<i class="fa fa-arrow-circle-right"></i></button>
			<a href="{% url 'user_registration:login' %}" class="a-link"><i class="fa fa-sign-in"></i>Already have account? Login.</a>
			<div class="frm-footer">Admin © 2023.</div>
			<!-- /.footer -->
		</div>
		<!-- .inside -->
	</form>
	<!-- /.frm-single -->
</div><!--/#single-wrapper -->

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/script/html5shiv.min.js"></script>
		<script src="assets/script/respond.min.js"></script>
	<![endif]-->
	<!-- 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="assets/scripts/jquery.min.js" type="d35a11173feaf9d80ee31365-text/javascript"></script>
	<script src="assets/scripts/modernizr.min.js" type="d35a11173feaf9d80ee31365-text/javascript"></script>
	<script src="assets/plugin/bootstrap/js/bootstrap.min.js" type="d35a11173feaf9d80ee31365-text/javascript"></script>
	<script src="assets/plugin/nprogress/nprogress.js" type="d35a11173feaf9d80ee31365-text/javascript"></script>
	<script src="assets/plugin/waves/waves.min.js" type="d35a11173feaf9d80ee31365-text/javascript"></script>

	<script src="assets/scripts/main.min.js" type="d35a11173feaf9d80ee31365-text/javascript"></script>
<script src="assets/scripts/mycommon.js" type="d35a11173feaf9d80ee31365-text/javascript"></script>
<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="d35a11173feaf9d80ee31365-|49" defer=""></script></body>
</html>