{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Home</title>

<link rel="stylesheet" href="{% static 'assets/styles/style.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/styles/custom.css' %}">
	<!-- Waves Effect -->

	<link rel="stylesheet" href="{% static 'assets/plugin/waves/waves.min.css' %}">
</head>

<body>

<div id="single-wrapper">
	<form action="{% url 'user_registration:login_view' %}" method="post" class="frm-single">
		{% csrf_token %}
		<div class="inside">
			<div class="title"><strong>Login </strong></div>
			<!-- /.title -->
			
			<!-- /.frm-title -->
			<div class="frm-input"><input type="text" name="username" placeholder="Username" class="frm-inp"><i class="fa fa-user frm-ico"></i></div>
			<!-- /.frm-input -->
			<div class="frm-input"><input type="password" name="password" placeholder="Password" class="frm-inp"><i class="fa fa-lock frm-ico"></i></div>
			<!-- /.frm-input -->
			<div class="clearfix margin-bottom-20">
			
				<!-- /.float-left -->
				<div class="float-right"><a href="{% url 'user_registration:forgot_password' %}" class="a-link"><i class="fa fa-unlock-alt"></i>Forgot password?</a></div>
				<!-- /.float-right -->
			</div>
			<!-- /.clearfix -->
			<button type="submit" class="frm-submit">Login<i class="fa fa-arrow-circle-right"></i></button>
			
			<!-- /.row -->
			<a href="{% url 'user_registration:signup' %}" class="a-link"><i class="fa fa-key"></i>Don't have an account ? Sign Up.</a>
			<div class="frm-footer">Admin © 2023.</div>
			<!-- /.footer -->
		</div>
		<!-- .inside -->
	</form>
	<!-- /.frm-single -->
</div>
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="assets/scripts/jquery.min.js" type="c7238fc848d009e02302ef02-text/javascript"></script>
	<script src="assets/scripts/modernizr.min.js" type="c7238fc848d009e02302ef02-text/javascript"></script>
	<script src="assets/plugin/bootstrap/js/bootstrap.min.js" type="c7238fc848d009e02302ef02-text/javascript"></script>
	<script src="assets/plugin/nprogress/nprogress.js" type="c7238fc848d009e02302ef02-text/javascript"></script>
	<script src="assets/plugin/waves/waves.min.js" type="c7238fc848d009e02302ef02-text/javascript"></script>

	<script src="assets/scripts/main.min.js" type="c7238fc848d009e02302ef02-text/javascript"></script>
<script src="assets/scripts/mycommon.js" type="c7238fc848d009e02302ef02-text/javascript"></script>
<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="c7238fc848d009e02302ef02-|49" defer=""></script></body>
</html>