{% load static %}
<div class="fixed-navbar">
	<div class="float-left">
		<button type="button" class="menu-mobile-button fas fa-bars js__menu_mobile"></button>
		<h1 class="page-title">Yapay Zeka Modelli</h1>
		<!-- /.page-title -->
	</div>
	<!-- /.float-left -->
	<div class="float-right">
		
	
		<div class="ico-item">
			<img src="{% static picture %}" alt="" class="ico-img">
			<ul class="sub-ico-item">
				
				<li><a href="{% url 'user_registration:user_pr' user.id %}">Settings {{user}}</a></li>
				<li><a  href="{% url 'user_registration:logout' %}">Log Out</a></li>
			</ul>
			<!-- /.sub-ico-item -->
		</div>
		<!-- /.ico-item -->
	</div>
	<!-- /.float-right -->
</div>
<!-- /.fixed-navbar -->