  {% load static %}	
<div class="col-lg-6 col-12">
					<div class="box-content">
						<h4 class="box-title">Daxil olan resim</h4>
						<!-- /.box-title -->					
						<!-- /.dropdown js__dropdown -->
						<p></p>
						<div class="row">
							<div class="col-lg-3 col-6"> 
								
<img  src="{% static image %}" data-holder-rendered="true" style="height: 100%; width: 100%; display: block;">
								
							</div>
							<div class="col-lg-3 col-6"> 
								
		
								
							</div>						
							
						</div>
					</div>
					<!-- /.box-content -->
				</div>


<div class="col-lg-6 col-12">
					<div class="box-content">
						<h4 class="box-title">Detection resim</h4>
						<!-- /.box-title -->					
						<!-- /.dropdown js__dropdown -->
						<p>	</p>
						<div class="row">
							<div class="col-lg-3 col-6"> 
							
<img  src="{% static image_detection %}" data-holder-rendered="true" style="height: 100%; width: 100%; display: block;">
								
							</div>
							<div class="col-lg-3 col-6"> 
								
		
								
							</div>						
							
						</div>
					</div>
					<!-- /.box-content -->
				</div>